Repository Krivega/sequent-promises: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,json}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore(release): 0.0.1
  CHANGELOG.md
Due: prettier --write

chore: update dependencies
  package.json
  rollup.config.js
  yarn.lock
Due: none

feat: add function isNotRunningError
  src/__tests__/index.js
  src/index.js
Due: prettier --write, eslint --fix

fix: fix create not running error
  src/index.js
Due: prettier --write, eslint --fix

docs: add usage
  README.md
Due: prettier --write

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  src/__tests__/index.js
  src/index.js
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: none

feat: return success with results
  README.md
  src/__tests__/index.js
  src/index.js
Due: prettier --write, eslint --fix

chore(release): 0.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add isSuccessful, isError for last promise
  README.md
  src/__tests__/index.js
  src/index.js
Due: prettier --write, eslint --fix

chore(release): 0.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 0.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: add TS
  .DS_Store
  .babelrc
  .eslintrc
  .huskyrc
  .lintstagedrc
  jest.config.js
  package.json
  rollup.config.js
  src/__tests__/index.ts
  src/index.ts
  src/setupTests.js
  src/setupTests.ts
  tsconfig.build.json
  tsconfig.compiler.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 0.1.3
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  .eslintrc
  package.json
  yarn.lock
Due: none

chore(release): 0.1.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix linters
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  husky.config.js
  package.json
Due: none

chore: clear
  .DS_Store
  .eslintignore
  .eslintrc
  .gitignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .npmignore
  .prettierignore
  .prettierrc
  commitlint.config.js
  jest.config.js
  rollup.config.js
  tsconfig.build.json
  tsconfig.compiler.json
  tsconfig.json
  yarn.lock
Due: none

refactor: change build
  .eslintignore
  .eslintrc.base.json
  .eslintrc.json
  .gitignore
  .huskyrc
  .lintstagedrc
  .ncurc.json
  .npmignore
  .prettierignore
  .prettierrc
  .versionrc.json
  README.md
  commitlint.config.cjs
  jest.config.ts
  package.json
  src/__tests__/index.ts
  src/index.ts
  src/setupTests.ts
  src/viteEnvironment.d.ts
  tsconfig.base.json
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier --write

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

chore: fix exports
  package.json
Due: none

chore(release): 1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  .ncurc.json
  package.json
  src/index.ts
  yarn.lock
Due: none

chore(release): 1.0.3
  CHANGELOG.md
  package.json
Due: prettier --write

fix!: exports
  package.json
  src/__tests__/index.ts
  src/index.ts
Due: none

chore(release): 2.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: exports cjs
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

chore(release): 2.0.1
  CHANGELOG.md
  package.json
Due: prettier --write
